* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas:
        "nav header header"
        "nav article aside"
        "nav singlecard aside"
        "nav footer footer";
    grid-template-columns: 1fr 4fr 1.5fr;
    grid-template-rows: auto 1fr auto auto;
    height: 100vh;
    gap: 5px;
    padding: 10px;
    background-color: #f1f1f1;
}

.nav {
    grid-area: nav;
    background-color: #cde2c7;
    padding: 20px;
}

.header {
    grid-area: header;
    background-color: #9ccc2c;
    padding: 20px;
}

.article {
    grid-area: article;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    border: 3px solid black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.aside {
    grid-area: aside;
    background-color: #faf3d4;
    padding: 20px;
}

.single-card {
    grid-area: singlecard;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #ffffff;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 15px 0;
    font-size: 18px;
}

.card p {
    padding: 0 15px;
    font-size: 14px;
    color: #666;
}

.card button {
    background: #9ccc2c;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    grid-area: footer;
    background-color: #9ccc2c;
    padding: 20px;
}