* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas:
        "nav header header"
        "nav article aside"
        "nav footer footer";
    grid-template-columns: 1fr 4fr 1.5fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh; 
    gap: 5px; 
    padding: 10px; 
    background-color: #f1f1f1; 
}

.nav {
    grid-area: nav;
    background-color: #cde2c7;
    padding: 20px;
}

.header {
    grid-area: header;
    background-color: #9ccc2c;
    padding: 20px;
}

.article {
    grid-area: article;
    background-color: white;
    padding: 20px;
}

.aside {
    grid-area: aside;
    background-color: #faf3d4;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: #9ccc2c;
    padding: 20px;
}
